.form-part{
    background-color: rgb(240 253 250);
}

#alart-message, #alart-message-2, #alart-message-3{
    display: none;
}


input[type=text] {
    width: 60%;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    
  }
  
  label {
    padding: 5px 5px 5px 0;
  }

  .input-form{
      margin: 20px 150px 10px 0;

  }
  

  